<section id="header" class="w-100 space-y bg-black">

  <div class="container text-white">

    <div class="row">

      <div class="col-sm-6">
        <img src="/assets/images/logo-bw.png" class="" style="width: 100px;" alt="">
      </div>

      <div class="col-sm-6" style="font-size: 25px;">
        <span class="d-block text-uppercase">#Letsdoit</span>
        <span class="d-block text-uppercase">#FortheECO</span>
        <span class="d-block text-uppercase">#ForOurECO</span>
        <span class="d-block text-uppercase">#ForAfrica</span>
      </div>

    </div>

    <div class="row mt-5">

      <div class="col-sm-6">
        <span class="d-block mb-2"><strong>CONNECT WITH US</strong></span>
        <span class="d-block"> Instagram </span>
        <span class="d-block">Twitter</span>
        <span class="d-block">Facebook</span>
        <span class="d-block">LinkedIn</span>
        <span class="d-block">hello@fortheeco.com</span>
      </div>

      <div class="col-sm-6">
        <span class="d-block mb-2"><strong>OUR LOCATIONS</strong></span>
        <div class="row">
          <div class="col">
            <span class="d-block"> UNITED KINGDOM </span>
            <span class="d-block">65 Kingsway, Burnage,</span>
            <span class="d-block">Manchester, M19 2LL</span>
          </div>
          <div class="col">
            <span class="d-block">NIGERIA</span>
            <span class="d-block">1 Adamo Close, Obamusa</span>
            <span class="d-block">Avenue, Lekki, Lagos.</span>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
