

<section id="header" class="w-100 space-y bg-light position-relative">

  <div id="particles-js"></div>

  <!-- <canvas class="particles-js-canvas-el position-absolute" width="937" height="902" style="width: 100%; height: 100%;">
  </canvas> -->
<div class="container">
  <div class="" id="logo">
    <img src="/assets/images/logo.png" width="70" height="70" alt="">
  </div>

  <div class="text-center">
    <h1 class="header-text text-success">
      ECO PLATFORM
    </h1>
    <h1 class="header-text text-success">
      LAUNCHES IN 2022
    </h1>

    <p class="text-warning">#FORTHEECO</p>
  </div>

</div>



</section>
