
.header-text {
  font-weight: lighter;
  font-size: 3rem;
  font-style: normal;
  text-decoration: none;
}

.header-text-2 {
  font-weight: lighter;
  font-size: 30px;
  font-style: normal;
  text-decoration: none;
}
