

<section id="join-event" class="w-100 space-y bg-success">

  <div class="container">

    <div class="row">

      <div class="col-sm-6">

        <h1 class="header-text text-warning text-uppercase text-dark">
          A Social
        </h1>

        <h1 class="header-text text-warning text-uppercase text-dark">
          Platform for
        </h1>

        <h1 class="header-text text-warning text-uppercase text-dark">
          the New
        </h1>

        <h1 class="header-text text-warning text-uppercase text-dark">
          Economy
        </h1>

        <p class="text-dark">
          On the 20th of December 2021, ECO Africa Initiative will be organising its first event in Lagos to offer individuals and organisations the opportunity to connect and collaborate through- The ECO. This Economy solution event is open to individuals and organisations eager for the opportunity to contribute to a new economy for the nation of Nigeria and the African continent.
        </p>

        <button class="btn bg-dark text-white">Join the event</button>

      </div>

    </div>

  </div>

</section>
