

<section id="join-event" class="w-100 space-y bg-success">

  <div class="container">

    <div class="row">

      <div class="col-sm-6">

        <h1 class="header-text text-warning text-uppercase text-dark">
          A Social
        </h1>

        <h1 class="header-text text-warning text-uppercase text-dark">
          Platform for
        </h1>

        <h1 class="header-text text-warning text-uppercase text-dark">
          the New
        </h1>

        <h1 class="header-text text-warning text-uppercase text-dark">
          Economy
        </h1>

        <p class="text-dark">
          The ECO. This Economy solution event is open to individuals and organisations eager for the opportunity to contribute to a new economy for the nation of Nigeria and the African continent.

          Be part of our PALS Network
          PALS of the ECO are Partners, Ambassadors, leaders for sustainability in their various geo-political regions.
          We are a Network of Individuals, Organisations and Government leading, directing and developing change for Africa and we are focused about it.
                  </p>

        <a href="https://www.eventbrite.com/e/fortheeco-introduction-the-eco-tickets-207157091437" target="_blank"  class="btn bg-dark text-white">Join the event</a>

      </div>

    </div>

  </div>

</section>
