



<div class="position-relative space-y" style="height: 800px;">
  <div class="eco-bg"></div>

  <section class="w-100 space-y position-absolute">
  </section>


  <section id="how-to-help" class="w-100 pt-4 position-absolute">

    <div class="container h-100 text-center pt-4 text-primary">

      <div class="m-auto">
        <h1 class="header-text text-uppercase">
          learn. do. create
        </h1>

        <h5 class="my-4" >Be part of our PALS Network</h5>

        <p class="my-4">
          PALS of the ECO are Partners, Ambassadors, leaders for sustainability in their various geo-political regions.
        </p>

        <p class="my-4">
          We are a Network of Individuals, Organisations and Government leading, directing and developing change for Africa and we are focused about it.
        </p>

        <a href="https://forms.gle/Tdb2HaFKPMi58f5g9" target="_blank"  class="btn btn-primary">Find out more</a>

      </div>

    </div>
  </section>


</div>
