

<section id="about-us" class="w-100 space-y">

  <div class="container">

    <div class="text-center">

      <h1 class="header-text text-warning text-uppercase">
        ECO Stands for
      </h1>
      <h1 class="header-text text-warning text-uppercase">
        Environment. Community.
      </h1>
      <h1 class="header-text text-warning text-uppercase">
        Organisation
      </h1>

      <div class="text-start m-auto py-3" style="max-width: 900px;">
        <p class="text-warning">
          Over the last couple of years, the pandemic made many organisations face unprecedented challenges. There are worldwide supply shortages, environmental problems have risen, costs of living are higher, there is increased unemployment and poor human development most especially in young people.
        </p>

        <p class="text-warning">
          <strong class="d-block">WE WANT A NEW ECONOMY</strong>
          An economy with decent job opportunities in abundance which has a platform and opportunity for young people like us to change our environment, community and organizations.
        </p>

        <p class="text-warning">
          ECO Africa focuses on the growth and development of a new economy measured by our environment, community and organization. The ability to design and create a new economy and make this vision a reality.
        </p>
      </div>

    </div>

  </div>

</section>
