

.wrapper {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 1200;

  /* this is what centers your element in the fixed wrapper*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* aligns on vertical for column */
  align-items: center; /* aligns on horizontal for column */
}
