

<section id="timeline" class="w-100 space-y">

  <div class="container">

    <div class="row">

      <div class="col-sm-6 text-center d-flex align-items-center">
        <img src="/assets/images/logo2.png" style="width: 50%" alt="">
      </div>

      <div class="col-sm-6">

        <p class="text-uppercase header-text-2 mb-4">Timeline to launch in 2022</p>

        <div class="border-start ps-3">

          <div>
            <p><strong>FIRST QUATER - THE DIGITAL DEPLOY</strong></p>
            <span class="d-block">Series 1 </span>
            <span class="d-block">January - March 2022 </span>
            <span class="d-block">ECO Digital  </span>
          </div>

          <div class="mt-4">
            <p><strong>SECOND QUATER - DEPLOYING DESIGN </strong></p>
            <span class="d-block">Series 2 </span>
            <span class="d-block">April - June 2022</span>
            <span class="d-block">ECO DESIGN  </span>
          </div>

          <div class="mt-4">
            <p><strong>THIRD QUATER - DISCOVER DATA</strong></p>
            <span class="d-block">Series 3 </span>
            <span class="d-block">July - September 2022 </span>
            <span class="d-block">ECO Data  </span>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>
